In [1]:
#importing Important libraries
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [4]:
df=pd.read_csv('spam.csv',encoding="ISO-8859-1")#reading the csv

In [5]:
df.describe()#statstical data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
count,5572,5572,50,12,6
unique,2,5169,43,10,5
top,ham,"Sorry, I'll call later","bt not his girlfrnd... G o o d n i g h t . . .@""","MK17 92H. 450Ppw 16""","GNT:-)"""
freq,4825,30,3,2,2

In [6]:
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [9]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [10]:
df.tail()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [11]:
df.shape

(5572, 5)

In [12]:
print(df)

        v1                                                 v2 Unnamed: 2  \
0      ham  Go until jurong point, crazy.. Available only ...        NaN
1      ham                      Ok lar... Joking wif u oni...        NaN
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3      ham  U dun say so early hor... U c already then say...        NaN
4      ham  Nah I don't think he goes to usf, he lives aro...        NaN
...    ...                                                ...        ...
5567  spam  This is the 2nd time we have tried 2 contact u...        NaN
5568   ham              Will Ì_ b going to esplanade fr home?        NaN
5569   ham  Pity, * was in mood for that. So...any other s...        NaN
5570   ham  The guy did some bitching but I acted like i'd...        NaN
5571   ham                         Rofl. Its true to its name        NaN

     Unnamed: 3 Unnamed: 4
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN
...         ...        ...
5567        NaN        NaN
5568        NaN        NaN
5569        NaN        NaN
5570        NaN        NaN
5571        NaN        NaN

[5572 rows x 5 columns]

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [14]:
df=df.where((pd.notnull(df)),'')#swapping the null values with ' ' value

In [15]:
#droping unsessary columns
df.drop(['Unnamed: 2'], axis=1,inplace=True)
df.drop(['Unnamed: 3'], axis=1,inplace=True)
df.drop(['Unnamed: 4'], axis=1,inplace=True)

In [16]:
#renaming the class to some meaningful names 
df.rename(columns={'v1': 'Category','v2':'Comment'},inplace=True)
df.sample(2)

     Category                                            Comment
1231      ham  have got * few things to do. may be in * pub l...
2676      ham  * Am on a train back from northampton so i'm a...

In [17]:
from sklearn.preprocessing import LabelEncoder
e= LabelEncoder()
df['Category']=e.fit_transform(df['Category'])
df
#ham:0 spam:1

      Category                                            Comment
0            0  Go until jurong point, crazy.. Available only ...
1            0                      Ok lar... Joking wif u oni...
2            1  Free entry in 2 a wkly comp to win FA Cup fina...
3            0  U dun say so early hor... U c already then say...
4            0  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5567         1  This is the 2nd time we have tried 2 contact u...
5568         0              Will Ì_ b going to esplanade fr home?
5569         0  Pity, * was in mood for that. So...any other s...
5570         0  The guy did some bitching but I acted like i'd...
5571         0                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [18]:
df.isnull().sum()#returns the sum of instances having null values

Category    0
Comment     0
dtype: int64

In [19]:
df.drop_duplicates(keep='first')#used to remove duplicates and keeps the first accurance of the data

      Category                                            Comment
0            0  Go until jurong point, crazy.. Available only ...
1            0                      Ok lar... Joking wif u oni...
2            1  Free entry in 2 a wkly comp to win FA Cup fina...
3            0  U dun say so early hor... U c already then say...
4            0  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5567         1  This is the 2nd time we have tried 2 contact u...
5568         0              Will Ì_ b going to esplanade fr home?
5569         0  Pity, * was in mood for that. So...any other s...
5570         0  The guy did some bitching but I acted like i'd...
5571         0                         Rofl. Its true to its name

[5169 rows x 2 columns]

In [20]:
x=df['Comment'] #defining variables ie input and output variables
y=df['Category']

In [21]:
print(x)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Comment, Length: 5572, dtype: object

In [22]:
print(y)

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: Category, Length: 5572, dtype: int32

In [32]:
x_train,x_test,y_train,y_test =train_test_split(x,y,test_size=0.3,random_state=3)#splitting the data set into two parts 20% for testing and 80% for training

In [33]:
print(x.shape)
print(x_test.shape)#returns rows and columns of the data
print(x_train.shape)

(5572,)
(1672,)
(3900,)

In [34]:
#conversion into integer
feature_extraction =TfidfVectorizer(min_df=1,stop_words='english',lowercase=True)
x_train_feature=feature_extraction.fit_transform(x_train)#coverts the messege to the special integers as per algorithm
x_test_feature=feature_extraction.transform(x_test)
y_train=y_train.astype('int')
y_test=y_test.astype('int')

In [35]:
print(x_test_feature)

  (0, 5557)	0.5283989315037968
  (0, 3955)	0.5171278973205882
  (0, 1420)	0.6733300134394968
  (1, 6676)	0.230759645109698
  (1, 6086)	0.14985776135556678
  (1, 6067)	0.2706408194261022
  (1, 5088)	0.28407170806210813
  (1, 4944)	0.2706408194261022
  (1, 4858)	0.28407170806210813
  (1, 3724)	0.253719900885834
  (1, 3103)	0.28407170806210813
  (1, 3049)	0.3748431642191014
  (1, 2669)	0.14195175298081447
  (1, 557)	0.28407170806210813
  (1, 486)	0.20176005209769407
  (1, 297)	0.28407170806210813
  (1, 39)	0.24768056364996613
  (1, 1)	0.21732875647369207
  (2, 6183)	0.3106341426891049
  (2, 6133)	0.3458008215674823
  (2, 3748)	0.4427146757183849
  (2, 2706)	0.5978641546354502
  (2, 2704)	0.4800941467094377
  (3, 6561)	0.2910593419524306
  (3, 6227)	0.20793299935326795
  :	:
  (1669, 3765)	0.27662643227705713
  (1669, 1208)	0.5765304310101259
  (1670, 6612)	0.24755649780765218
  (1670, 6279)	0.2320788498224002
  (1670, 6184)	0.19162928032256513
  (1670, 6180)	0.38325856064513025
  (1670, 4239)	0.4194960471395159
  (1670, 4127)	0.20088212405828582
  (1670, 4031)	0.16171217683735353
  (1670, 3998)	0.2320788498224002
  (1670, 3617)	0.2320788498224002
  (1670, 3536)	0.21107699015924564
  (1670, 3102)	0.1365532221437815
  (1670, 2843)	0.3351899280935552
  (1670, 2811)	0.2265546381444976
  (1670, 2241)	0.2598417981560059
  (1670, 1700)	0.12764305655500302
  (1670, 1319)	0.20088212405828582
  (1671, 6906)	0.527215868168756
  (1671, 4589)	0.42843731008746416
  (1671, 3797)	0.28094150065061124
  (1671, 3717)	0.28017670191808824
  (1671, 3673)	0.28996802133782457
  (1671, 2916)	0.28094150065061124
  (1671, 2076)	0.4669563238721348

In [36]:
model=LogisticRegression()#creating the logistic regression model

In [37]:
model.fit(x_train_feature,y_train)#fitting the logistic regression model with training data

LogisticRegression()

In [38]:
p=model.predict(x_train_feature)#rendering the prediction in a variable

In [39]:
accuracy_score(y_train,p)#checking accuracy on trainng data

0.9638461538461538

In [40]:
q=model.predict(x_test_feature)#checking accuracy on testing data
accuracy_score(y_test,q)

0.9617224880382775

**PREDICTION SYSTEM**

In [41]:
input1=[""]
input_data=feature_extraction=feature_extraction.transform(input1)
prediction=model.predict(input_data)
print(prediction)

if prediction[0]==0:
    print('ham mail')
else:
    print('Spam mail')

[0]
ham mail